body{
    text-align: center;
    background-color: rgb(236, 202, 10);
    margin: 40px;
}



a{  
    font-size: 25px;
    text-decoration: none;

}

a:hover{
    text-decoration: none;
    background-color: rgb(143, 23, 39);
}


h1{
    margin: 12px 0;
    font-size:52px;
    color: rgb(143, 23, 39);
    font-family:'Oswald',sans-serif;
}

p{
    font-size:32px;
    font-family:'Fira Sans';
    font-weight: bold;    
    color: rgba(0, 4, 255, 0.671);
}